@import"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
* {
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif
}

body {
    max-height: 100vh;
    background: rgba(0, 0, 0, 0)
}

.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

#box {
    opacity: .8;
    display: none;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(0%,-50%);
	border-radius: 10px;
    div#container {
        position: relative;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        row-gap: 15px;
        padding: 20px;
        color: #ffffff;
        background-color: #272727;
    }
}

div#header, div#navbar, div.content {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
}

div#header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

div#header {
    column-gap: 10px;
}

div#header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

div#header > div > input#search-input {
    padding: 5px;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
}

div#header > div#favorite-button,
div#header > div#stop-walk-expression-button,
div#header > div#hotkey-box > i.key,
div#header > div#close-box > i {
    border-radius: 7px;
    padding: 8px 15px;
    background: #383838;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: #ffffff;
        color: #383838;
        i {
            color: #383838;
        }
        span {
            color: #383838;
        }
    }
}

div#header > div#close-box > i {
	font-size: 25px;
}

div#header > div#hotkey-box > i.key {
    padding: 8px 12px;
    background: #383838;
    cursor: pointer;
}

div#navbar {    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div#navbar > div.navbar-item {
    display: block;
    position: relative;
    background: #383838;
    text-align: center;
    padding: 8px 20px;
    cursor: pointer;
	border-radius: 7px;
    transition: all 0.2s ease-in-out;
    width: calc((100%)/6 - 10px);
    
    &:hover {
        background: #ffffff;
        i {
            color: #383838;
        }
    }
    i {
        font-size: 24px;
        transition: all 0.2s ease-in-out
    }
}

div#navbar > div.active {
	background: #000000e7;
}

div.content {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
    padding: 0 15px 0 0;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    div.content-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        div.content-item-favorite-button, div.content-item-name, div.content-item-save {
            padding: 8px 15px;
            cursor: pointer;
            transition: all 5ms ease-in-out;
            border-radius: 4px;
            &:hover {
                background: #ffffff;
                border-radius: 7px;
                i {
                    color: #383838;
                }
                span {
                    color: #383838;
                }
            }
        }
        div.content-item-name {
            padding: 3px 15px;
            margin-left: 10px;
            width: -webkit-fill-available;
            text-align: left
        }
        div.reset-button {
            padding: 3px 0px;
            cursor: pointer;
            transition: all .1s ease-in-out;
            width: -webkit-fill-available;
            font-size: large;
            text-align: center;
            justify-content: center;
            margin-left: 0;
            // make a border that is right under the reset button and that is the same color as the reset button
            &::after {
                content: "";
                display: block;
                margin-left: 5%;
                width: 90%;
                height: 3px;
                background: #fff;
                border-radius: 5px;
                margin-top : 2px;
            }
        }

        div.content-item-save {
            margin-left: 10px;
        }
        * {
            font-size: 18px;
            transition: all .1s ease-in-out
        }
        span {
            font-weight: 500;
        }
        div.content-item-save {
            i {
                /* opacity: 0%; */
                color: #272727;
            }
        }
        div.checked {
            i {
                //opacity: 100%;
                color: #fff;
            }
        }
    }
}

// make a border that is right under the reset button and that is the same color as the reset button
// div.content div.content-item div.reset-button::after {
// 	content: "";
// 	display: block;
// 	margin-left: 5%;
// 	width: 90%;
// 	height: 3px;
// 	background: #fff;
// 	border-radius: 5px;
// 	margin-top : 2px;
// }


*::-webkit-scrollbar {
    width: 20px
}

*::-webkit-scrollbar-track {
    background: #383838;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 20px;
    border: 3px solid #383838;
}